name: Build & Test
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  build-and-test:
    runs-on: [ubuntu-20.04]
    container:
      image: rostooling/setup-ros-docker:ubuntu-focal-ros-noetic-ros-base-latest
    steps:
      - name: install catkin
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-catkin-tools python3-empy libeigen3-dev
      - name: init
        run: |
          cd $GITHUB_WORKSPACE
          mkdir hector
          cd hector
          catkin config --extend /opt/ros/noetic --cmake-args -DCMAKE_BUILD_TYPE=Release
      - uses: actions/checkout@v2.5.0
        with:
          path: hector/src
      - name: rosdep
        run: |
          cd $GITHUB_WORKSPACE/hector/src
          rosdep update
          rosdep install -y --from-paths . --ignore-src --rosdistro noetic
      - name: build
        run: |
          cd $GITHUB_WORKSPACE/hector/src
          catkin build
      - name: build_and_test
        run: |
          cd $GITHUB_WORKSPACE/hector/src
          catkin test hector_math
